<div class="flex flex-col flex-auto min-w-0 mb-5 overflow-auto ovflow-x">

<div
            class=" mt-0 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center relative flex items-center justify-center">
            <div class="absolute text-white">
                <h1>Instructions</h1>
            </div>
            <img src="../../../../assets/icons/bgBanner.jpg" class="contactbanner" alt="" srcset="" />
        </div>
    
<div style="display:flex; justify-content: center; align-items: center; margin-left: -25%; ">
<div class="contactDt" >
    
    <fuse-card class="flex flex-col mt-5 px-8 pt-6 pb-4 " style="width: 60vw;">
        <div>
            <h2 class="instruction-heading">Introduction</h2>
            <p style="font-size: 0.95rem;">University Dream League is about a league which will allow general users to see the best universities
                in the UK compete against each other in a football leaderboard game. This is presented to allow
                users to have fun and compete against one another on a regular basis. They will be able to predict
                the weekly fixtures before the fixtures take place. Once the fixtures have taken place then the
                results will be presented on the leaderboard.</p>

        </div>

        <div>
            <h2 class="instruction-heading">How To Register?</h2>
            <ul>
                <li class="list"> To play University Dream League for the first time you must register on the website. </li>
                <li class="list"> You will need to fill out your first name, last name, email address and password where all the fields are essential to fill in. </li>
                <li class="list"> Once you have filled in the necessary fields then you are able to play University Dream League. </li>
            </ul>

        </div>

        <div>
            <h2 class="instruction-heading">How to Play?</h2>
            <ul> 
                <li class="list"> You must predict on the 5 weekly fixtures that are taking place by predicting a score outcome. </li>
                <li class="list"> After confirming the system will generate your predicted results and by Saturday 12pm after the fixtures have taken place the user will be able to see how many points are awarded. </li>
                <li class="list"> The user will then be able to see a league leaderboard for where the University teams are standing in the table. </li>
                <li class="list"> As well as user table being updated on how many results they have got correct in predicting. </li>
                
            </ul>

        </div>

        <div> 
            <h2 class="instruction-heading">How Are Points Awarded?</h2>
            <ul> 
                <li class="list"> If a team wins then team will receive 3 points. </li>
                <li class="list"> If the teams draw then team will receive 1 point. </li>
                <li class="list"> If the teams lose then team will receive 0 point. </li>
                <li class="list"> If the user predicts they will receive 5 points in terms of predicting the right team to win. </li>
                <li class="list"> The bonus will be that if they get the right University team to win as well as matching the result then the user will receive 10 points. </li>
                <li class="list"> Any incorrect result will lead to the user receiving 0 points. </li>
                
            </ul>
        </div>
        
        
    </fuse-card>
</div>
</div>
</div>
