<div class="flex flex-col flex-auto min-w-0 mb-5 overflow-auto ovflow-x">
    <div>
        <div
            class=" mt-0 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center relative flex items-center justify-center">
            <div class="absolute text-white">
                <h1>Contact Us</h1>
            </div>
            <img src="../../../../assets/icons/bgBanner.jpg" class="contactbanner" alt="" srcset="" />
        </div>
        
                <!-- <form class="flex flex-col mt-5 formWd p-8 pb-4  shadow overflow-hidden">

                    <div class="flex ">
                        <mat-form-field [ngClass]="formFieldHelpers" class="fmlabel mr-3 fuse-mat-textarea flex-auto">
                            <input matInput [placeholder]="'Your Name'">
                        </mat-form-field>

                        <mat-form-field [ngClass]="formFieldHelpers" class="fmlabel mr-0 fuse-mat-textarea flex-auto">
                            <input matInput [placeholder]="'Phone'">
                        </mat-form-field>

                    </div>
                    <div class="flex">

                        <mat-form-field [ngClass]="formFieldHelpers" class="fuse-mat-textarea flex-auto">
                            <textarea matInput [rows]="3" class="textAreaHg h-30" matTextareaAutosize></textarea>
                        </mat-form-field>

                    </div>
                    <div class="flex ">
                        <mat-form-field [ngClass]="formFieldHelpers" class="fmlabel mr-3 fuse-mat-textarea flex-auto">
                            <input matInput [placeholder]="'E-Mail'">
                        </mat-form-field>
                        <button class="px-36 ml-3 savebtn" mat-flat-button [color]="'primary'">
                            Save
                        </button>
                    </div>
                </form> -->
                <div class="contact-box">
                    <div class="contactDt" >
                        
                        <fuse-card class="flex flex-col mt-5 px-8 pt-6 pb-4 card">
                            <div>
                                <h2 class="contact-heading">Get In Touch</h2>
                                <p class="contact-para">The University Dream League team is always happy to field any questions from the users of the site. 
                                    Any questions or queries on the site and how to use it and need any sort of assistance then please contact our email 
                                    <b> universitydreamleague@hotmail.com </b> so that we can acknowledge and assist your problem as soon as possible. 
                                </p>
                                <hr>
                                <div style="display: flex; gap:1rem; padding: 0rem 0rem 1rem 0rem;">
                                    <h1 class="email"> <b> Email:</b> </h1> <p class="email-para"> <b> universitydreamleague@hotmail.com </b> </p>
                                </div>
                    
                            </div>                           
                        </fuse-card>
                    </div>
                    </div>
            
            
        </div>
    </div>